$colour-primary: rgb(4, 148, 112);
$colour-text: rgb(248, 203, 0);
$colour-menu-1: rgb(255, 224, 213);
$colour-menu-2: rgb(237, 225, 232);
$colour-menu-3: rgb(204, 204, 204);
$colour-menu-4: rgb(217, 236, 213);